<h1>New Trip Form</h1>

<!--
I think here, this is where we need to connect to the API

like:
* Select destination

then:
Search for top 10 restaurants, etc.

or maybe also add the skyscanner one
  -->

  <%= form_tag new_trip_path, method: "get" do %>
    <h4>First enter country: <br>
      <input type="text" name="country_name" placeholder="enter a country">
    <%= submit_tag("Submit") %></h4>
  <% end %>

  <%= form_for @trip do |f| %>
    <%= f.label :destination_id, "Select Destination" %>
    <%= f.collection_select :destination_id, @destination_cities, :id, :city%>
  <% end %>
