<h1>New Trip Form</h1>

  <%= form_tag new_trip_path, method: "get" do %>
    <h4>Search by country:
      <input type="text" name="country_name" placeholder="enter a country">
    <%= submit_tag("Search") %></h4>
  <% end %>


  <%= simple_form_for @trip do |f| %>
    <p><%= f.input :destination_id, collection: @destination_cities, label_method: :city %></p>
    <p><%= f.input :start_date, as: :date, start_year: Date.today.year,
                                end_year: Date.today.year + 5,
                                order: [:month, :day, :year] %></p>
    <p><%= f.input :end_date, as: :date, start_year: Date.today.year,
                                end_year: Date.today.year + 5,
                                order: [:month, :day, :year] %></p>
    <%= f.button :submit %>
  <% end %>
