<h1>Your Trip to <%= @trip.to_s %></h1>

<h3>Current Itinerary:</h3>
  <% @trip.activities.each do |activity| %>
    <p><%= link_to activity.name, activity_path(id: activity.id, trip_id: @trip.id) %></p>
  <% end %>

<h3>Search for new itinerary item:</h3>
  <%= form_tag activities_path, method: "get" do %>
      <input type="text" name="search">
    <%= hidden_field_tag :trip_id, @trip.id %>
    <%= submit_tag("Search")%>
  <% end %>
