<h2>Your Trip to <%= @trip.to_s %></h2>
<h4><%= @trip.start_date.strftime("%m/%d/%Y") %> - <%= @trip.end_date.strftime("%m/%d/%Y") %></h4>

<h3>Current Itinerary:</h3>
  <% @trip.activities.each do |activity| %>
    <p><%= link_to activity.name, activity_path(id: activity.id, trip_id: @trip.id) %></p>
  <% end %>

<h3>Add Itinerary:</h3>
  <%= form_tag activities_path, method: "get" do %>
      <label>Date:</label><%= select_tag  %>
      <label>Search for activity</label><input type="text" name="search">
    <%= hidden_field_tag :trip_id, @trip.id %>
    <%= submit_tag("Search")%>
  <% end %>

<br>
<p><%= button_to "Delete this trip", @trip, method: "delete" %></p>
