<p>
<%= link_to "Edit Profile", edit_user_path%> |
<%= link_to "Delete Profile", user_path, method: "delete"%></p>

<h5>Welcome back, <%= @user.to_s %>!</h5>

<h3>Your Upcoming Trips</h3>
  <% @user.view_trip_names.each do |trip_name| %>
    <h4><%= trip_name %></h4>
    <% @user.select_trips(trip_name).each do |trip|%>
      <p><%= trip.start_date.strftime("%m/%d/%Y") %>: <%= link_to trip.to_s, trip %></p>
    <% end %>
  <% end %><br>
