<h5><%= @user.to_s %></h5>

<h3>Your Upcoming Trips</h3>
<% if @user.trips == [] %>
  <img height="400" src="<%= Image.all.sample.url %>"><br>
  <h4>You don't have any upcoming trips!</h4>
  <h4><%= button_to "Click here to get started", new_trip_path(@user), method: :get %></h4>
<% else %>
  <% @user.view_trip_names.each do |trip_name| %>
    <h4><%= trip_name %></h4>
    <% @user.select_trips(trip_name).each do |trip|%>
      <p><%= trip.start_date.strftime("%m/%d/%Y") %>:
        <%= link_to trip.to_s, trip %></p>
    <% end %>
  <% end %>
<% end %>
