<h1><%= @activity.name %></h1>

<img src="<%= @activity.photo_url %>" alt="Photo Unavailable">

<h3>Name: <%= @activity.name %> </h3>
<h3>Address: <%= @activity.address %> </h3>
<h3>Rating: <%= @activity.rating %> </h3>
<h3>Price: <%= @activity.price_level %> </h3>

<%= button_to "Add to itinerary",  %>

<!-- add pin to map -->
